<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="<%= active_for_page('pages#contact') %> navbar-brand" href="<%= root_path %>">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= active_for_page('pages#about') %>"><a href="<%= about_path %>">About<span class="sr-only">(current)</span></a></li>
        <li class="<%= active_for_page('pages#contact') %>"><a href="<%= contact_path %>">Contact Us</a></li>
        <li class="<%= active_for_page('users#new') %>"><a href="<%= signup_path %>">Sign up</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><a href="<%= logout_path %>" data-method="delete" class="text-danger">Log out</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pages <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="<%= computers_path %>">Computers</a></li>
            <li><a href="<%= meals_path %>">Meals</a></li>
            <li><a href="<%= movies_path %>">Movies</a></li>
            <li><a href="<%= plates_path %>">Plates</a></li>
          </ul>
        </li>
      <% else %>
      <li class="<%= active_for_page('sessions#new') %>"><a href="<%= login_path %>">Log in</a></li>
      <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
